// Navbar
.squares-icon{
    content: url("../../img/icons/squares.png");
}
.task-icon{
    content: url("../../img/icons/tasks.png");
}
.folder-icon{
    content: url("../../img/icons/folder.png");
}
.help-icon{
    content: url('../../img/icons/help.png');
}
.invoice-icon{
    content: url('../../img/icons/invoice.png');
}
.history_data-icon{
    content: url('../../img/icons/history_data.png');
}
.wallet-icon{
    content: url('../../img/icons/wallet.png');
}

// Logo
.logo-icon{
    content: url("../../img/icons/logo.png");
}
.exit-icon{
    content: url("../../img/icons/exit.png");
}

// Main content header
.envelope-icon{
    content: url("../../img/icons/envelope.png");
}
.bell-icon{
    content: url("../../img/icons/bell.png");
}
.search-icon{
    content: url('../../img/icons/search.png');
}