@import '_vendors/font-awesome/fontawesome';
@import '_vendors/font-awesome/solid';
@import '_vendors/font-awesome/brands';

@import 'base/minireset';
@import './base/icons';
@import './base/slides';
@import './base/media';

// $primary-background-color: #000;

body {
  background: url("../img/body_background.png");
  display: flex;
  background-size: cover;
  background-attachment: fixed;
  object-fit: fill;
  box-sizing: border-box;
  max-width: 100%;
  letter-spacing: .5px;
  word-spacing: .75px;
}
*{
  box-sizing: border-box;
}

// Flex setup
.d-flex{ display: flex; }
.flex-wrap{ flex-wrap: wrap }
.flex-nowrap{ flex-wrap: nowrap; }
.flex-row{ flex-direction: row; }
.flex-column{ flex-direction: column; }
.justify-content-around{ justify-content: space-around; }
.justify-content-between{ justify-content: space-between; }

.d-inline { display: inline; }
.d-block { display: block; }

.d-grid { display: grid; }


.sup { vertical-align: super; }
.sub { vertical-align: sub; }

// Side menu
.side-menu{
  // side-menu variable
  $top_indent: 2rem;
  $side_indent: 3rem;

  // height: 100vh;
  width: 40%;
  background: rgba(206, 167, 167, 0.3);
  padding: $top_indent $side_indent;

  // Logo
  &__header{
    margin: 0 0 $top_indent 0;
  }
  .logo-text{
    font-size: 1.35rem;
    color: #333;
    margin-left: .25rem;
    font-weight: 600;
  }
}

  // Navbar
.navbar{
  // Variables
  $list_padding: .75rem;

  .navbar-menu{
    letter-spacing: 1px;
  }
  .navbar-item, .navbar-item *{
    color: #444;
    font-weight: 600;
    font-size: 1.25rem;
  }
  .navbar-item:first-child{
    padding: 2rem 0 $list_padding 0;
  }
  .navbar-item:not(:first-child){
    padding: $list_padding 0;
  }
  .navbar-link{
    text-decoration: none;
  }
  .navbar-icon{
    margin: 0 $list_padding 0 0;
  }
  .navbar-item:hover *, .navbar-item:focus *{
    color: #F2AA5C;
  }
}

// General list options
.list{
  &-inline{
    display: flex;
    justify-content: flex-end;
    flex-flow: row nowrap;
  }
  &-block{
    display: block;
  }
  &__item{
    margin: auto auto;
    padding: 1rem 1rem;
    color: rgb(170, 169, 170);
    font-size: 1.25rem;
    font-weight: 600;
  }
  &__item-image{
    width: auto;
    max-width: 200px;
    padding: 0 2rem;

    .content{
      border-radius: 50%;
    }
  }
}

// Main content
.main-content{
  width: 100%;
  &__header{
    border-bottom: .01rem solid lightblue;
    background: rgba(255, 255, 255, .75);
  }
  &__content{
    display: flex;
    flex-flow: row wrap;;
    background: rgba(255, 255, 255, .75);
  }
  .card{
    content: url("../img/Card.png");
    max-width: 100%;
  }
  .statistics{
    content: url("../img/Statistics.png");
    width: 100%;
  }
}

// Sections in main content
.section {
  color: #444;
  line-height: 1.5;

  &__item{
    padding: 1rem;
    margin: 1rem auto;
    min-width: 50%;
    max-width: 100%;
    background: rgba(255, 255, 255, .85);
  }
  &__header{
    font-weight: 700;
    font-size: 1.25rem;

    &__item{
      margin: 1rem;
    }
  }
  &__second_header{
    font-size: 1.15rem;
    font-weight: 700;
  }
  &__second_text{
    font-size: 1rem;
    color: #666;
  }
  &__text{
    font-size: 1rem;
  }

  &__text-bold{
    font-size: 1rem;
    font-weight: 700;
  }
  &__icon-centered{
    color: #999;
    margin: auto .5rem; 
    font-size: 2rem;
  }
  .rectangle{
    padding: 1rem 2rem;

    &__icon{
      color: #fff;
      font-size: 2rem;
    }
  }
}

// Universal wrapper
.wrapper{
  width: 100%;
  height: auto;
  position: relative;

  &__item{
    margin: .25rem;
  }
}

// style for hr tag
.separator{
  margin:  1.5rem auto;
  background: #eee;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

// BG
.orange-bg{
  background: orange;
}
.green-bg{
  background: rgb(0, 163, 0);
}
.blue-bg{
  background: rgb(47, 93, 221);
}

// Highlight hover elements
.button:hover{
  color: #000;
}

.calendar{
  &__wrapper{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    max-width: 100%;
    padding: 1rem;
  }
  &__date{
    background: transparent;
    border-radius: 50%;
    text-align: center;
    font-weight: bolder;
    padding: .25rem;
    margin: .25rem;
  }
  &__date-active{
    color: #fff;
    background: #510FDB;
    border-radius: 50%;
    text-align: center;
    font-weight: bolder;
    padding: .25rem;
    margin: .25rem;
  }
}

.w-50{
  width: 50%;
}

.row{
  width: 100%;
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-around;
}

.user_icon{
  min-width: 1rem;
  max-width: 2.5rem
}